.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__section-title {
  margin-top: 100px;
  text-align: center;
}

.digits__section-subtitle {
  margin-top: 20px;
  text-align: center;
}

.digits__table {
  margin: 0 auto 100px;
}