@import url(../blocks/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

@import url(../blocks/header/logo/logo.css);
@import url(../blocks/header/logo/_place/logo_place_header.css);

@import url(../blocks/description/description.css);
@import url(../blocks/description/tow-columns/tow-columns.css);
@import url(../blocks/description/tow-columns/__brief/tow-columns__brief.css);
@import url(../blocks/description/tow-columns/__main-text/tow-columns__main-text.css);
@import url(../blocks/description/tow-columns/__paragraph/tow-columns__paragraph.css);
@import url(../blocks/description/tow-columns/__span-accent/tow-columns__span-accent.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/__text/section-title__text.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/__text/section-subtitle__text.css);

@import url(../blocks/techniques/techniques.css);
@import url(../blocks/techniques/cards/__item/cards_item.css);
@import url(../blocks/techniques/cards/__title/cards_title.css);
@import url(../blocks/techniques/cards/__image/card__image);
@import url(../blocks/techniques/cards/__description/cards__description.css);

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
